.center {
    text-align: center;
    margin-left:auto;
    margin-right:auto;
    list-style-position: inside;
}

.title {
    font-size: 16px;
    color: #3cb371
}

.body {
    font-size: 12px;
    color: #4A4A4A
}
