<!DOCTYPE html>
<html lang="en">
	<head>
		<% include ../partials/head %>
	</head>
	<body class="container">
		<header>
			<% include ../partials/header %>
		</header>
			<div style="background-color: rgb(201, 245, 197)" class="jumbotron">
				<h1>Challenge</h1>
			</div>
	</body>
</html>