<!DOCTYPE html>
<html lang="en">
	<head>
		<% include ../partials/head %>
	</head>
	<body class="container">
		<header>
			<% include ../partials/header %>
		</header>
		<ul>
			<li>
				<a href="/test1">Send Parameter: description</a>
			</li>
			<li>
				<a href="/test2">Send Parameter: tech</a>
			</li>
			<li>
				<a href="/test3">Send Parameter: techstack</a>
			</li>
			<li>
				<a href="/test4">Send Parameter: hobbies</a>
			</li>
			<li>
				<a href="/test5">Send other parameters</a>
			</li>
		</ul>
	</body>
</html>